        * { box-sizing: border-box; }

        body{
            font-family: "Poppins", Arial, sans-serif;
            margin: 0;
            display: block;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            padding: 20px;
        }
        input, textarea, button{
            width: 100%;
            flex-direction: row;
            margin-bottom: 20px;
        }
        table{
            border-collapse: collapse;
            width: 80%;
            border: 1px solid #ddd;
            box-shadow: 0 2px 8px rgba(0,0,0,0.08);
            display: block;
            margin-top: 100px;
        }
        thead,tr, th, td {
            border: 1px solid #ddd;
            text-align:left;
            padding: 20px 10px;
            width: 200px;
            
        }
        td:first-child, th:first-child {
        background-color: #efefefff; }
        form{
            width: 400px;   
            max-width: 50%;     
            background-color: #e8e8e8;
            padding: 30px;
            border-radius: 6px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.08);
            display: block;
        }
        .notform{          
            max-width: 300px;     
            padding: 0px;
            background-color: #ffffff;
            box-shadow: none;

            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }
        .notform button, .inputfield{
            margin: 20px 10px;
        }

        .inputfield{
            width: 100%;
            margin-bottom: 20px;
            height: 36px;
            border: 1px solid #939393;
            border-radius: 8px;
            padding: 6px 12px;
            font-size: 18px;
            height: 42px;
        }
        .button{
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
            height: 42px;

        }

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0 0 10px 0;
        }

        label{
            font-size: 18px;
            display: inline-block;
            margin-bottom: 6px;
        }
        #link{
            text-decoration: none !important;
            color: rgb(0, 0, 0);
            cursor: pointer;
            font-size: 18px;
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            margin: 40px 20px;
        }
        